.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.log
*.cache
*.csproj.user
*.nupkg
packages/
.nuget/
appsettings.json
appsettings.*.json
secrets.json
*.DotSettings.user